.userBox {
  width: var(--sub-width);
  min-width: var(--sub-min-width);
  display: flex;
  justify-content: space-between;
  margin-top: 17.56px;
  padding-bottom: 15px;
  border-bottom: var(--border);
}

.user {
  display: flex;
  align-items: center;
}

.userImg {
  border-radius: 38px;
}

.userName {
  display: flex;
  align-items: center;
  color: #515151;
  margin: 0 8.04px;
}

.messageBox {
  display: flex;
  align-items: center;
  margin-top: 17.56px;
  padding-bottom: 15px;
}

.messageImg {
  margin: 0 7.57px;
}
.messageText {
  color: #515151;
}
